.about {
	&__container {
		@include container();
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&__text,
		&__image {
			margin-bottom: 2rem;
		}

		&__text {
			p {
				margin: 0.5rem 0;
			}

			p:nth-child(5) {
				color: $clr-white-0;
				margin: 1rem 0;
			}

			ul {
				padding: 0.5rem;
				background-color: $clr-bg-5;
				border-radius: $radius;
				display: grid;
				grid-template-columns: repeat(2, minmax(0, 1fr));
				grid-template-rows: repeat(2, minmax(0, 1fr));
				gap: 0.5rem;

				li {
					padding: 0.5rem;
					background-color: $clr-bg-10;
					border-radius: $radius;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 0.25rem;
				}
			}
		}

		&__image {
			background-color: $clr-primary-0;
			border-radius: $radius;
			position: relative;

			&__photography {
				border-radius: $radius;
				overflow: hidden;
				img {
					transition: $transition;
					border-radius: $radius;
					object-fit: cover;
				}
			}

			&__note {
				position: absolute;
				bottom: 0;
				right: 0;
				padding: 0.25rem;
				z-index: 1;
				transition: $transition;
				width: 100%;
				text-align: right;
				font-weight: 700;
			}
		}

		// .about__container
		@media screen and (min-width: 992px) {
			flex-direction: row;
			justify-content: space-around;
			gap: 0;

			&__text,
			&__image {
				flex: 0 0 45%;
				margin-bottom: 0;
			}

			&__image {
				&__photography > img {
					opacity: 0.5;
				}
			}

			&__image:hover {
				&::before {
					top: 0;
					left: 0;
				}

				// Cannot use &__photography > img
				// Causes css mess thus making it not functional
				.about__container__image__photography > img {
					opacity: 1;
					transform: scale(1.3);
				}
			}
		}

		// .about__container
		@media screen and (min-width: 1176px) {
			&__image::before {
				content: ' ';
				position: absolute;
				transition: $transition;
				width: 100%;
				height: 100%;
				top: 1.5rem;
				left: 1.5rem;
				border: 0.5rem solid $clr-primary-10;
				border-radius: $radius;
				z-index: -1;
			}
		}
	}
}
