#blink {
	animation: blinker 1s step-start infinite;
}

.hero {
	@include section;
	&__container {
		@include container();
		&__article > h2 {
			margin: 1rem 0;
		}

		&__article > p {
			margin: 1rem 0;
		}

		&__image {
			margin: 2rem 0;
			border-radius: 100%;
			width: 4rem;
		}
	}
}
