@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply py-3 px-6  bg-primary-10 hover:bg-primary-5 active:bg-primary-0 border-b-2 border-primary-0 text-[#112220] text-[18px] font-medium rounded-lg transition-all disabled:cursor-not-allowed;
	}

	.btn.outlined {
		@apply bg-transparent border-2 border-primary-10
	}

	.link {
		@apply cursor-pointer transition-colors text-slate-200 hover:text-primary-10 active:text-primary-5;
	}

	.link.dark {
		@apply text-primary-10 hover:text-primary-5 active:text-primary-0;
	}

	.input {
		@apply bg-accent-10 dark:bg-background-10 p-2 rounded-lg outline outline-transparent focus:outline-primary-0;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	@apply bg-accent-5 dark:bg-background-5 text-black dark:text-white
}

:root {
	--mouse-x: 100px;
	--mouse-y: 100px;

	--project-border: rgba(255, 255, 255, 0.74);
	--project-sphere: rgba(255, 255, 255, 0.103);
	--project-color: rgba(255, 255, 255, 0.163);
}



#simple-projects:hover > .project > .project-border {
	opacity: 1;
}

.project::before,
.project-border {
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	border-radius: inherit;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 400ms;
}

.project::before {
	z-index: 30;
	background:radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), var(--project-sphere) 0%, var(--project-color) 59%);
}

.project-border {
	z-index: 10;
	background:radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), var(--project-border) 0%, var(--project-color) 59%);
}
