@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

:root {
	--mouse-x: 100px;
	--mouse-y: 100px;

	--project-border: rgba(255, 255, 255, 0.74);
	--project-sphere: rgba(255, 255, 255, 0.05);
	--project-color: rgba(255, 255, 255, 0.02);
}

#simple-projects:hover > .project > .project-border {
	opacity: 1;
}

.project::before,
.project-border {
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	border-radius: inherit;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 400ms;
}

.project::before {
	z-index: 30;
	background:radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), var(--project-sphere) 0%, var(--project-color) 59%);
}

.project-border {
	z-index: 10;
	background:radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), var(--project-border) 0%, var(--project-color) 59%);
}
