*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box; // Better box model
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: $ff-primary;
	background-color: $clr-bg-0;
	color: $clr-white-10;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

ul {
	list-style-type: none;

	li > a {
		all: inherit; // Using parent styles for list
	}
}

img {
	display: block; // Fixing gap when image is in container
	width: 100%;
}

h1,
h2,
h3,
h4 {
	line-height: 1.2;
	margin-bottom: 0.25rem;
}

// Decrement is 0.5rem
// highest value is 4rem
h1 {
	font-size: 3rem;
	font-weight: 500;

	@media screen and (min-width: 768px) {
		font-size: 4rem;
	}
}

h2 {
	font-size: 2.5rem;
	font-weight: 600;

	@media screen and (min-width: 768px) {
		font-size: 3.5rem;
	}
}

h3 {
	font-size: 2rem;
	font-weight: 700;

	@media screen and (min-width: 768px) {
		font-size: 3rem;
	}
}

h4 {
	font-size: 1.5rem;
	font-weight: 800;

	@media screen and (min-width: 768px) {
		font-size: 2.5rem;
	}
}

p {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;

	@media screen and (min-width: 768px) {
		font-size: 1rem;
	}
}

button {
	display: inline-block;
	padding: 0.25rem 1.2rem;
	margin: 0.125rem;
}

input {
	padding: 0.25rem;
}

a {
	text-decoration: none;
	color: $clr-primary-10;
	transition: $transition;
}

a:hover {
	color: $clr-primary-0;
}

/////////////////////////////////////////////
//////////////// CUSTOMS ////////////////////
/////////////////////////////////////////////
.btn {
	@include button();
}

.container {
	@include container();
}

.section {
	padding: 2rem;

	@media screen and (min-width: 768px) {
		padding: 4rem;
	}
}

.input {
	border: none;
	border-left: 4px solid $clr-primary-10;
	background-color: $clr-bg-10;
	color: $clr-white-10;
	transition: $transition;
	padding: 0.5rem;
	box-shadow: $shadow;
	border-radius: $radius;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;

	&:focus {
		padding-left: 0.75rem;
	}
}

.tag {
	transition: all 1s;
}

.tagEffect {
	opacity: 0;
	transform: translate(0, 10vh);
}

.tag.visible {
	opacity: 1;
	transform: translate(0, 0);
}

.section-title {
	margin: 0.5rem 0;
	.underline {
		width: 200px;
		height: 0.5rem;
		background-color: $clr-primary-10;
		border-radius: $radius;
	}

	h1 {
		font-weight: 700;
	}

	.code {
		font-family: $ff-mono;
	}
}

code {
	font-family: $ff-mono;
	background-color: $clr-bg-10;
	padding: 0.125rem;
}
