@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700;800&display=swap');

$ff-primary: 'Source Code Pro', monospace;

$clr-gray-0: #2e3436;
$clr-red-0: #cc0000;
$clr-green-0: #4e9a06;
$clr-yellow-0: #c4a000;
$clr-blue-0: #3465a4;
$clr-magenta-0: #75507b;
$clr-cyan-0: #06989a;
$clr-white-0: #d3d7cf;

$clr-gray-5: #555753;
$clr-red-5: #ef2929;
$clr-green-5: #8ae234;
$clr-yellow-5: #fce94f;
$clr-blue-5: #729fcf;
$clr-magenta-5: #ad7fa8;
$clr-cyan-5: #34e2e2;
$clr-white-5: #eeeeec;

$clr-bg: rgb(44, 13, 32);

@mixin section() {
	width: 100%;
	height: auto;

	padding-top: 2rem;
	padding-bottom: 2rem;
}

@mixin container() {
	width: 90%;
	max-width: 480px;
	margin-inline: auto;

	@media screen and (min-width: 768px) {
		max-width: 600px;
	}

	@media screen and (min-width: 992px) {
		max-width: 768px;
	}

	@media screen and (min-width: 1176px) {
		max-width: 1000px;
	}
}
